#about {
    position: relative;
    z-index: 10;
    color : --white;
    padding-top: 40px;
    color: #ebe8e2;
    font-size: var(--small_text_size);
    pointer-events: none;
}

#about .container{
    border-top: 1px solid var(--off_head);
    width: 80%;
    margin-left: 10%;
    padding-bottom: 0;
    color : --white;
    pointer-events: all;
}