@media (min-width:1080px){
    .work_entry .contents .media{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .work_entry .contents{
        display: flex;
        flex-wrap: wrap;
        gap: 5%;
    }
    .work_entry .contents .description_block{
        width: 45%;
    }
    .work_entry .contents .media{
        margin-left: 5%;
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    #work .container{
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 1079px) {
    .work_entry .contents .description_block{
    width: 100%;
    }
    .work_entry .contents{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 5%;
    }
    .work_entry .contents .media{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    #work .container{
        width: 100%;
        margin-left: 0%;
    }
}


#work {
    position: relative;
    z-index: 2;
    color : --white;
    padding-top: 40px;
    color: #ebe8e2;
    font-size: var(--small_text_size);
    pointer-events: none;
}

#work .container{
    border-top: 1px solid var(--off_head);
    padding-bottom: 0;
    color : --white;
    pointer-events: all;
    border-bottom: 1px solid var(--off_head);
}

.work_header{
    width: 100%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(30px) brightness(20%) hue-rotate(180deg);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.work_header p{
    width: min(100%, 800px);
    margin-bottom: 20px;
}

.work_title_container{
    width: max(25%, 300px);
}

.work_title{
    margin-bottom: 10px;
    margin-top: 10px;
}


.work_container {
    border-top: 1px solid var(--off_head);
    padding-top: 30px;
    padding-left: 4%;
    padding-right: 4%;
    backdrop-filter: blur(30px) brightness(15%) hue-rotate(90deg);
    position: relative;
}


.work_entry{
    padding-bottom: 40px;
    color: #ebe8e2;
    font-size: var(--small_text_size);
    border-bottom: 1px solid var(--off_head);
    margin-bottom: 15px;
}

.work_entry:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

#work h1{
    font-size: 40px; 
}
#work h2{
    font-size: 30px; 
}
.work_entry h2{
    padding-bottom: 15px;
}

.work_entry .contents{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.work_entry .contents .links{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work_entry .contents .links div{
    margin-right: 10px;
    margin-left: 0px;
}


.work_entry .contents .media .image_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}